/* .display-main {
  background-color: #0096ff;
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid gold;
} */

/* .main {
  width: 500px;
  height: 80vh;
  overflow: scroll;

  float: left;
}
.main-right {
  display: flex;
  border: 3px solid red;
} */

.search-container {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: black;
  color: white;
}

.search-input {
  font-size: 20px;
  padding-top: 10px;
  width: 270px;
  background-color: black;
  border: 1px solid black;
  color: gray;
}
.input-btn {
  /* background-color: red; */
  background-color: black;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding-top: 10px;
  width: 100px;
  font-weight: bold;
  border: 1px solid black;
}

.searchBarData-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
  background-color: #ffffff;
  width: 100%;
  height: 80vh;
  overflow: scroll;
}

.multi-range-slider {
  margin-top: 25px;
}

.crypto-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid #d6d8da;
}

.first {
  background-color: #d7dced;
}

.first-col {
  padding-left: 10px;
}

/* .crypto-name > * {
  flex: 1;
} */

.crypto-name {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.crypto-name .name-section {
  display: flex;
  flex-direction: column;
  padding-left: 2px;
}

img {
  height: 60px;
  width: 60px;
}
.title {
  font-weight: bold;
}

/*single movie section*/

.single-image {
  height: 300px;
  width: 200px;
}

.top-section {
  display: flex;
}

.top-section .right-section {
  display: flex;
  flex-direction: column;
}

.right-section .top-section {
  font-size: 25px;
  font-weight: bold;
}

.bottom-section .bottom-section-part {
  display: flex;
  justify-content: space-between;
}

.middle-section .rated {
  border: 2px solid gray;
}

.middle-section .additional {
  margin: 10px;
}

/*radion container*/

.radio-container {
  display: flex;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 400;
}
.field {
  cursor: pointer;
  margin: 5px;
}

.static-text {
  font-size: large;
  padding-top: 30px;
}
