/* .filters-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(50%-20px);
  background-color: beige;
}

.filters-right {
  display: flex;
  flex-direction: row;
  background-color: blue;
  justify-content: space-between;
  padding: 40px;
}
 */

/* .data-container {
  background-color: green;
  display: flex;
  flex-direction: row;
  border: 3px solid black;
  
} */
