/* Log In Styling */
.log-in {
  width: 100%;
  padding-bottom: 30px;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.log-in .max-width {
  display: flex;
  margin: auto 0 auto 40px;
}

.log-in .max-width .box {
  width: 70%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ededed;
  border-radius: 6px;
  box-shadow: 0 8px 8px 0 var(--text-color);
  margin: 0 15% 5% 15%;
}

.log-in .image-col {
  width: 55%;
  align-content: center;
}

.log-in .image-col img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.log-in .log-in-col {
  width: 45%;
  display: inline-block;
  justify-content: space-between;
}

.log-in .log-in-col h2 {
  width: 85%;
  text-align: center;
  position: relative;
  color: var(--text-color);
  bottom: 10px;
  padding-right: 15%;
}

.log-in .log-in-col form {
  width: 100%;
  display: inline-block;
}

.log-in .log-in-col form .feild {
  width: 100%;
  margin-bottom: 15px;
  font-size: 25px;
}

.log-in .log-in-col form .feild input {
  height: 100%;
  width: 90%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.log-in .log-in-col form .button {
  height: 47px;
  width: 150px;
  margin-left: 20%;
}

.log-in .log-in-col form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid var(--main-color);
  background: var(--main-color);
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.log-in .log-in-col form .button button:hover {
  color: var(--main-color);
  background: none;
}

.log-in .log-in-col p {
  padding: 25px 20px;
}
