.display-main {
  background-color: #0096ff;
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid gold;
}

.main {
  /* background-color: red; */
  width: 500px;
  height: 80vh;
  overflow: scroll;
  /* display: flex;
  flex-direction: column; */
  /* border: 2px solid orange; */
  float: left;
  background-color: black;
  color: white;
}
.main-right {
  display: flex;
  border: 3px solid red;
  background-color: black;
  color: white;
  height: 80vh;
}

.searchBarData-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
  /* background-color: #ffffff; */
  width: 100%;
  height: 80vh;
  overflow: scroll;
  /* color: white; */
}

.crypto-name {
  display: flex;
  flex-direction: row;

  align-items: center;
  border-bottom: 2px solid #d6d8da;
}

.first {
  background-color: #d7dced;
}

.first-col {
  padding-left: 10px;
}
.btn-view1 {
  /* background: var(--main-color); */
  /* background-color: black; */
  /* color: var(--text-color); */
  background-color: #d6d8da;
  /* color: white; */
  color: black;
  font-size: 15px;
  padding: 1px 3px;
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
  /* border: 2px solid var(--main-color); */
  border: 2px solid white;
  transition: all 0.3s ease;
}
.active {
  background-color: bisque;
}

.btn-view1:hover {
  background-color: #ffffff;
  border: 2px solid var(--main-color);
  color: black;
  /* color: var(--main-color); */
}

.btn-view {
  background: var(--main-color);
  color: var(--text-color);
  font-size: 15px;
  padding: 1px 3px;
  margin-top: 10px;
  width: 100px;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  transition: all 0.3s ease;
}
.btn-view:hover {
  background-color: #ffffff;
  border: 2px solid var(--main-color);
  color: var(--main-color);
}

.btn-view-save {
  background: var(--main-color);
  color: var(--text-color);
  font-size: 15px;
  padding: 1px 3px;
  margin-top: 10px;
  width: 100px;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  transition: all 0.3s ease;
}
.btn-view-save:hover {
  background-color: #ffffff;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  cursor: pointer;
}

/* .crypto-name > * {
  flex: 1;
} */

.crypto-name {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.crypto-name .name-section {
  display: flex;
  flex-direction: column;
  padding-left: 2px;
}

img {
  height: 60px;
  width: 60px;
}
.title {
  font-weight: bold;
}

/*single movie section*/

.single-image {
  height: 300px;
  width: 200px;
}

.top-section {
  display: flex;
}

.top-section .right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.right-section .top-section {
  font-size: 25px;
  font-weight: bold;
}
.bottom-section {
  margin-top: 50px;
}

.bottom-section .bottom-section-part {
  display: flex;
  justify-content: space-between;
}

/* .bottom-section .rating-section {
  border-right: 2px solid white;
  margin-right: 20px;
} */

.middle-section .rated {
  border: 2px solid gray;
  border-bottom: 2px solid white;
}

.middle-section .additional {
  margin: 10px;
}
